.titleFavorites{
    margin-top: 6%;
}

.myProdcutsContent {
    margin-top: 6%;
}

.no-favorites{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 767px) {
    
    .myProdcutsContent{
        margin-top: 16%;
    }

}
